@import 'selected-filter-bar/SelectedFilterBar';
@import 'filters/FilterInput.scss';
@import 'filterable-tile-table/FilterableTileTable';
@import 'filterable-tile-table/AppearanceResultsTable';
@import 'filter-selection-table/FilterSelectionGroup';
@import 'filter-selection-table/FilterSelectionTable';

input[type="checkbox"] {
    //display: none;
    position: absolute;
    left: -9999px;
      &:checked + .filter-list__item {
        background: #747474;
        color: #fff;
          &:after {
            content: " x";
            @include media( palm- ) {
                position: absolute; 
                right: 1.2em;
                //right: 2em;
                top: 0.37em;
            }
          }
      }
      &:disabled + .filter-list__item {
        color: #747474;
        cursor: default;
        &:hover {
          background: none;
        }
      }
  }

  .filter-list__item {
    cursor: pointer;
    display: inline-block;
    padding: 0.1em 0.6em 0.2em 0.6em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 6px;
    white-space: nowrap;
      &:hover {
        background: #fafafa;
      }
      @include media( palm- ) {
        width: 95%;
        padding: .5em .7em;
        margin: 0 auto;
        display: block;
        position: relative;
        margin-top: .3em;
        margin-bottom: .3em;
      }
  }